.wrap {
    max-width: 1410px;
}

.background-wrap {
    max-width: 1810px;
}

.main__body {
    width: 100%;
}

.main__block-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 45px 0px 87px;
    cursor: default;
}

.main__block-menu {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
}

.main__block-title {
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    margin: 29px 0px 9px;
}

.main__blpck-subtitle {
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.main__block-btn {
    color: #FFFFFF;
    background: var(--color-buttGreenColor);
    box-shadow: var(--shadow-buttShadow);
    border-radius: 36px;
    padding: 15px 40px;

    margin-top: 40px;

    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
}

.main__block-btn:hover {
    transform: scale(1.05);
}


.steps_to_buy {
    width: 100%;
}
.steps_to_buy__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 121px 0px 161px;
}
.steps_to_buy__body-title {
    color: var(--color-black);

    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
}
.steps_to_buy__body-description {
    color: var(--color-black);
    width: 922px;
    display: flex;
    flex-wrap: wrap;

    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
}
.steps_to_buy__body-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 50px 0px 40px;
    gap: 40px;
}
.steps_to_buy__body-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 71px;
}
.steps_to_buy__body-img {
    width: 300px;
    height: 300px;
}
.steps_to_buy__body-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.step__block {
    width: 1029px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 9px;
}
.step__block-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.step__block-number {
    color: var(--color-green);
    border-right: 1px solid #C0C9D7;
    
    padding: 8px 31px 8px 0px;

    font-weight: 400;
    font-size: 80px;
    line-height: 56px;
}
.step__block-title {
    color: var(--color-black);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 353px;
    margin: 3px 0px 3px 33px;

    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.step__block-description {
    color: var(--color-black);
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
}

.steps_to_buy__body-btn  {
    color: #FFFFFF;
    background: var(--color-buttGreenColor);
    box-shadow: var(--shadow-buttShadow);
    border-radius: 36px;
    padding: 15px 40px;

    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
}

.steps_to_buy__body-btn:hover {
    transform: scale(1.05);
}


/* PREFOOTER */

.delPage__prefooter {
    display: block;
    width: 1800px;
    height: 280px;
    background: var(--background-color);
    padding: 112px 200px 0px 202px;
    border-radius: 36px;
    margin: 160px auto 0 auto;
    color: #fff;
}

.delPage__prefooterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delPage__prefooterContent h1 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 800;
}

.delPage__prefooterContent-social {
    display: flex;
    gap:9px;
}

.delPage__prefooterContent-social img {
    width: 66px;
    height: 66px;
}