.persAcc {
    display: block;
    width: 100%;
    color: var(--color-black);
    background-color: #fff;
}

.subheader {
    display: flex;
    color: #fff;
    width: 100%;
    height: 110px;
    border-radius: 36px;
    background: var(--background-color);
    padding: 31px 100px 31px 104px;
    margin-bottom: 80px;
}

.subheader-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subheader__left {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.subleft-time {
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
}

.realTime {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: 600;
}

.realTime a,
.subleft-bonus a,
.subleft-exchange a{
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #fff;
}

.realClock {
    width: 75px;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
}

.subleft-schedule {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.subleft-exchange {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}

.subleft-bonus {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}


/* right side of subheader */

.subheader__right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subright-balance {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-right: 21px;
}

.subright-balance a{
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #fff;
}

.addTrans__butt {
    margin-right: 30px;
    font-size: 13px;
    line-height: 18px;
    width: 200px;
    color: #fff;
    height: 48px;
    text-align: center;
    padding-top: 15px;
    background: var(--color-buttGreenColor);
    box-shadow: var(--shadow-buttShadow);
    border-radius: 36px;
    cursor: pointer;
    font-weight: 700;
    transition: .3s transform, .25s box-shadow;
}

.addTrans__butt:hover,
.addTrans__butt:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #32CD32;
    transform: translateY(-0.25em);
}

.paypal__butt {
    margin: 0 10px 0 0;
    width: 128px;
    color: #fff;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(122, 122, 122, 0.2);
    border-radius: 36px;
    cursor: pointer;
    transition: .3s transform, .25s box-shadow;
}

.paypal__butt:hover,
.paypal__butt:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #ccc;
    transform: translateY(-0.25em);
}

.visa__butt {
    width: 100px;
    color: #fff;
    height: 48px;
    text-align: center;
    padding-top: 11px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(122, 122, 122, 0.2);
    border-radius: 36px;
    cursor: pointer;
    transition: .3s transform, .25s box-shadow;
}

.visa__butt:hover,
.visa__butt:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #ccc;
    transform: translateY(-0.25em);
}

/* DATA ACCOUT */

.persAcc__data {
    display: flex;
    flex-direction: column;
    gap: 100px;
    color: var(--color-black);
}

.persAcc__dataBr {
    display: block;
    width: 100%;
    height: 380px;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    padding: 25px 0px 25px 28px;
    border-radius: 16px;
}

.persAcc__dataBr__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 65px;
}

.persAcc__dataBr__contentInfo {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.persAcc__dataBr__contentInfo-top {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.persAcc__dataBr__contentInfo-change {
    display: flex;
    align-items: center;
    gap: 30px;
}

.persAcc__nameInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.persAcc__nameInfo li {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}

.persAcc__nameInfo-person {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.persAcc__nameInfo-person li {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
}

.edit__butt {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    width: 163px;
    color: #fff;
    height: 48px;
    text-align: center;
    padding-top: 15px;
    background: var(--color-buttGreenColor);
    box-shadow: var(--shadow-buttShadow);
    border-radius: 36px;
    cursor: pointer;
    transition: .3s transform, .25s box-shadow;
}

.edit__butt:hover,
.edit__butt:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #32CD32;
    transform: translateY(-0.25em);
}

.changepass {
    color: var(--color-green);
    padding-bottom: 1px;
    border-bottom: 1px dotted var(--color-green);
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    transition: .2s;
}

.changepass:hover {
    border-bottom: 1px solid var(--color-green);
}


.persAcc__data-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.persAcc__data-details__slider {
    display: flex;
    width: 820px;
    flex-direction: row;
    padding-bottom: 37px;
}

.persAcc__data-details__slider-nav {
    font-weight: 700;
    width: 213px;
    display: block;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
    border-bottom: 1px solid #222;
    padding-bottom: 37px;
}

.persAcc__data-details__slider-nav:first-child {
    display: block;
    width: 213px;
    color: var(--color-green);
    border-bottom: 2px solid var(--color-green);
}

.persAcc__data-details__slider-nav:nth-child(2),
.persAcc__data-details__slider p:nth-child(3) {
    display: block;
    width: 279px;
    padding-left: 40px;
}

.persAcc__data-details__sliderInfo {
    display: block;
}

.persAcc__data-details__sliderItem {
    display: none;
    flex-direction: column;
    gap: 18px;
}

.persAcc__data-details__sliderItem:nth-child(1) {
    margin-bottom: 30px;
}

.sliderItem__title {
    font-size: 26px;
    line-height: 36px;
}

.persAcc__data-details__sliderItem-infoItems {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.persAcc__data-details__sliderItem-infoItem {
    display: flex;
    gap: 120px;
    width: 100%;
    height: 68px;
    background-color: #fff;
    border-radius: 6px;
    padding: 21px 0px 0px 40px;
}

.persAcc__data-details__sliderItem-infoItem:nth-child(odd) {
    background-color: #F2F6FC;
}

.persAcc__data-details__sliderItem-infoItem h1 {
    display: block;
    width: 230px;
    font-size: 18px;
    line-height: 32px;
}

.persAcc__data-details__sliderItem-infoItem span {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
}


/* Info about work slide */

.topUl-title {
    font-size: 20px;
    line-height: 36px;
    margin: 30px 0px 3px 0px;
}

.topUl-title:first-child {
    margin-top: 16px;
}

.persAcc__data-details__sliderItem ul {
    list-style-type: disc;
}

.persAcc__data-details__sliderItem ul li {
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
}

/* pay slider box */


.sliderPay-title {
    font-size: 26px;
    line-height: 36px;
    margin-top: 40px;
}

.sliderPay-title:first-child {
    margin-top: 0;
}

.sliderPay__box {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.sliderPay__box-item {
    display: flex;
    gap: 143px;
    align-items: center;
    padding: 0px 0px 0px 40px;
    height: 68px;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
}

.sliderPay__box-item:nth-child(2n+1) {
    background-color: #F2F6FC;
}

.sliderPay__box .sliderPay__box-item:nth-child(4) h1,
.sliderPay__box .sliderPay__box-item:nth-child(6) h1 {
    width: 335px;
}

.sliderPay__box .sliderPay__box-item:nth-child(4),
.sliderPay__box .sliderPay__box-item:nth-child(6) {
    gap: 38px;
}

.sliderPay__box-item h1 {
    display: block;
    width: 230px;
    font-size: 18px;
    line-height: 32px;
}

.sliderPay__box-item span {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
}

.paypal__buttSlider,
.visa__buttSlider {
    display: block;
    width: 128px;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0px 0px 10px rgba(122, 122, 122, 0.1);
    border-radius: 36px;
    margin-top: 10px;
    transition: .3s transform, .25s box-shadow;
}

.paypal__buttSlider:hover,
.visa__buttSlider:hover,
.paypal__buttSlider:focus,
.visa__buttSlider:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #ccc;
    transform: translateY(-0.25em);
}

/* ------------------------ADAPTATION------------------------*/

@media screen and (max-width: 1440px) {
    body { overflow-x: hidden;}

    /* subheader */
    .realTime{gap: 3px;}
    .subheader__left{gap: 20px;}
    .addTrans__butt {margin-right: 20px;}
    .subleft-schedule {display: none; visibility: hidden;}
    .subleft-exchange, .subleft-bonus {gap: 8px;}
    .realTime a,.subleft-bonus a, .subleft-exchange a{font-size: 13px; line-height: 13px;}
    .subright-balance a, .realClock {font-size: 13px; line-height: 14px;}
    .subheader__left img {width: 28px;height: 28px;}

    /* profile */
    .persAcc__data {gap: 80px;}
}