.calcPage {
    display: block;
    background-color: #fff;
    width: 100%;
}

.calcPage__postheader {
    width: 1800px;
    height: 210px;
}

.calcPage__postheaderContent {

}

.pricewrapperBox {

}

.pricewrapperBox-item {

}

.delPage__prefooter {

}

.delPage__prefooterContent {

}