* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Gilroy';
    color: var(--color-black);
}

@font-face {
    font-family: 'Gilroy';
    src: url(/assets/Gilroy/gilroy-regular.ttf);
}

a {
    text-decoration: none;
    color: var(--color-black);
}

input, button {
    outline: none;
    background: transparent;
    border: none;
}

ul, ol {
    list-style: none;
    color: var(--color-black);
}