.background-container {
    padding: 45px 0px 87px;
}

.background-links {
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    
    display: flex;
}

.background-links a, 
.background-links p {
    color: #FFFFFF;
}


.background-title {
    margin-top: 29px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
}

.background-subTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin-top: 9px;
}

.background-container button {
    color: #FFFFFF;
    background: var(--color-buttGreenColor);
    box-shadow: var(--shadow-buttShadow);
    border-radius: 36px;
    padding: 15px 40px;
    
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;

    width: 260px;
    height: 66px;
    margin-top: 40px;

    transition: .3s transform, .25s box-shadow;
}

.background-container button:is(:hover, :focus) {
    box-shadow: 0 0.5em 0.5em -0.4em #8dd3f1;
    transform: translateY(-0.25em);
}

.swiper {
    width: 1410px;
    height: 490px;

    margin-bottom: 160px;

    z-index: 1;
}

.swiper .swiper-pagination-bullet {
    width: 42px;
    height: 42px;
    border-radius: 36px;

    background-color: #fff;
    border: 1px solid var(--color-green);
    color: var(--color-green);
}


.swiper .swiper-pagination-bullet:nth-child(1)::after {
    content: '1';
    position: relative;
    top: 12px;
}

.swiper .swiper-pagination-bullet:nth-child(2)::after {
    content: '2';
    position: relative;
    top: 12px;
}

.swiper .swiper-pagination-bullet:nth-child(3)::after {
    content: '3';
    position: relative;
    top: 12px;
}

.swiper .swiper-pagination-bullet:nth-child(4)::after {
    content: '4';
    position: relative;
    top: 12px;
}

.swiper .swiper-pagination-bullet:nth-child(5)::after {
    content: '5';
    position: relative;
    top: 12px;
}


.swiper-slide {
    display: flex;

    gap: 33px;
}


.main-title {
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;

    width: 650px;

    color: var(--color-black);

    margin: 121px 0px 40px 260px;
}



.main-item {
    display: flex;
    gap: 56px;
}

.imgBlock {
    width: 328px;
    height: 360px;
    border-radius: 18px;
}

.block1 {
    background-image: url(/assets/images/img/salesPageImg/img1.svg);
}

.block2 {
    background-image: url(/assets/images/img/salesPageImg/img2.svg);
    position: relative;
    left: 6px;
}

.block3 {
    background-image: url(/assets/images/img/salesPageImg/img3.svg);
}

.block4 {
    background-image: url(/assets/images/img/salesPageImg/img4.svg);
}

.block5 {
    background-image: url(/assets/images/img/salesPageImg/img5.svg);
}

.block6 {
    background-image: url(/assets/images/img/salesPageImg/img6.svg);
}

.block7 {
    background-image: url(/assets/images/img/salesPageImg/img7.svg);
}

.block8 {
    background-image: url(/assets/images/img/salesPageImg/img8.svg);
    position: relative;
    left: -20px;    
}

.block9 {
    background-image: url(/assets/images/img/salesPageImg/img9.svg);
}

.block10 {
    background-image: url(/assets/images/img/salesPageImg/img10.svg);
    position: relative;
    left: 10px;
}


.textBlock {
    margin-top: 10px;
}

.textBlock.specialTextBlock {
    position: relative;
    left: -20px;
}

.textBlock.specialTextBlock2 {
    position: relative;
    left: 6px;
}

.textBlock.specialTextBlock3 {
    position: relative;
    left: 10px;
}

.textBlock h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-black);
}

.textBlock p {
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    margin-top: 10px;
    color: var(--color-black);
}

.textBlock p a {
    font-weight: 900;
}

.greenText {
    color: var(--color-green);
}

.textBlock p:nth-child(5) {
    width: 260px;
    margin-top: 30px;
}

.link {
    color: var(--color-green);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    position: relative;
    top: 20px;
    transition: all 0.05s linear;
}

.link:hover {
    color: aquamarine;
}

.collab {
    width: 250px;
}

.hats {
    position: relative;
    top: -25px;
}

.specialLink {
    position: relative;
    top: 50px;
}

.specialLink2 {
    position: relative;
    top: 115px;
}

.specialLink3 {
    position: relative;
    top: 130px;
}

.specialText {
    position: relative;
    top: 49px;
}

/* PREFOOTER */

.delPage__prefooter {
    display: block;
    width: 1800px;
    height: 280px;
    background: var(--background-color);
    padding: 112px 200px 0px 202px;
    border-radius: 36px;
    margin: 160px auto 0 auto;
    color: #fff;
}

.delPage__prefooterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delPage__prefooterContent h1 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 800;
}

.delPage__prefooterContent-social {
    display: flex;
    gap:9px;
}

.delPage__prefooterContent-social img {
    width: 66px;
    height: 66px;
}

@media screen and (max-width: 1440px) {
    body {
        overflow-x: hidden;
    }
    .main-title {
        font-size: 36px;

        width: 650px;

        margin: 100px 0px 40px 85px;
    }
    .background-title {
        font-size: 40px;
    }
    .background-subTitle {
        font-size: 22px;
    }
    .background-container {
        position: relative;
        left: -80px;
    }
    .imgBlock {
        width: 280px;
        height: 320px;
    }
    .main-item {
        gap: 40px;
        position: relative;
        left: 80px;
    }
    .textBlock {
        margin-top: 0px;
    }
    .textBlock h3 {
        font-size: 22px;
    }
    .textBlock p:nth-child(5) {
        margin-top: 20px;
    }
    .specialLink {
        top: 60px;
    }
    .specialLink3 {
        top: 115px;
    }
}