.background-container {
    padding: 45px 0px 87px;
}

.background-links {
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    
    display: flex;
}

.background-links a, 
.background-links p {
    color: #FFFFFF;
}


.background-title {
    margin-top: 29px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
}

.background-subTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin-top: 9px;
}

.background-container button {
    color: #FFFFFF;
    background: var(--color-buttGreenColor);
    box-shadow: var(--shadow-buttShadow);
    border-radius: 36px;
    padding: 15px 40px;
    
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;

    width: 260px;
    height: 66px;
    margin-top: 40px;
}

.background-container button:hover {
    transform: scale(1.05);
}

.body {
    margin-top: 121px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-title {
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;

    width: 650px;

    color: var(--color-black);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 40px;
}

.main-item {
    display: flex;
    gap: 56px;
}

.imgBlock {
    width: 328px;
    height: 360px;
    border-radius: 18px;
}

.block1 {
    background-image: url(/assets/images/img/salesPageImg/img1.svg);
}

.block2 {
    background-image: url(/assets/images/img/salesPageImg/img2.svg);
}

.textBlock {
    margin-top: 10px;
}

.textBlock h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-black);
}

.textBlock p {
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    margin-top: 10px;
}

.textBlock p a {
    font-weight: 800;
}

.greenText {
    color: var(--color-green);
}

.textBlock p:nth-child(5) {
    width: 260px;
    margin-top: 30px;
}

.link {
    color: var(--color-green);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    position: relative;
    top: 20px;
    transition: all 0.05s linear;
}

.link:hover {
    color: aquamarine;
}

.collab {
    width: 250px;
}

.hats {
    position: relative;
    top: -25px;
}