.background-container {
    padding: 45px 0px 62px;
}


.background-links {
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    
    display: flex;
}

.background-links a, 
.background-links p {
    color: #FFFFFF;
}


.background-title {
    margin-top: 29px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    color: #fff;
}

.swiper {
    width: 1450px;
    height: 540px;

    margin-top: 80px;

    z-index: 1;
}

.swiper .swiper-pagination-bullet {
    width: 42px;
    height: 42px;
    border-radius: 36px;

    background-color: #fff;
    border: 1px solid #ff86b2;
    color: #ff86b2;
}


.swiper .swiper-pagination-bullet:nth-child(1)::after {
    content: '1';
    position: relative;
    top: 12px;
}

.swiper .swiper-pagination-bullet:nth-child(2)::after {
    content: '2';
    position: relative;
    top: 12px;
}

.swiper .swiper-pagination-bullet:nth-child(3)::after {
    content: '3';
    position: relative;
    top: 12px;
}

.swiper .swiper-pagination-bullet:nth-child(4)::after {
    content: '4';
    position: relative;
    top: 12px;
}


.swiper-slide {
    display: flex;
    gap: 20px;
    position: relative;
    left: 35px;
}







.imgBlock {
    width: 447px;
    height: 260px;
    border-radius: 20px 20px 0px 0px;
    background-size: cover;
}

.imgBlock.block1 {
    background-image: url(/assets/images/img/blogPageImg/img1.svg);
}

.imgBlock.block2 {
    background-image: url(/assets/images/img/blogPageImg/img2.svg);
}

.imgBlock.block3 {
    background-image: url(/assets/images/img/blogPageImg/img3.svg);
}

.imgBlock.block4 {
    background-image: url(/assets/images/img/blogPageImg/img4.svg);
}

.imgBlock.block5 {
    background-image: url(/assets/images/img/blogPageImg/img5.svg);
}

.imgBlock.block6 {
    background-image: url(/assets/images/img/blogPageImg/img6.svg);
}

.imgBlock.block7 {
    background-image: url(/assets/images/img/blogPageImg/img7.svg);
}

.imgBlock.block8 {
    background-image: url(/assets/images/img/blogPageImg/img8.svg);
}

.imgBlock.block9 {
    background-image: url(/assets/images/img/blogPageImg/img9.svg);
}

.imgBlock.block10 {
    background-image: url(/assets/images/img/blogPageImg/img10.svg);
}

.imgBlock.block11 {
    background-image: url(/assets/images/img/blogPageImg/img11.svg);
}

.imgBlock.block12 {
    background-image: url(/assets/images/img/blogPageImg/img12.svg);
}

.main-block {
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 447px;
    height: 430px;

    margin-top: 20px;


    margin-bottom: 20px;
}

.main-block h4,
.additionBlock {
    margin: 0px 29px 0px 35px;
}

.main-block h4 {
    margin-top: 20px;
    width: 320px;

    font-weight: 700;
    font-size: 22px;
    line-height: 32px;

    color: var(--color-black);
}

.additionBlock {
    margin-top: 22px;
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
}

.additionBlock p {
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;

    color: #222;

    opacity: .5;

    display: flex;
    align-items: center;
}

.timeBlock {
    display: flex;
    gap: 8px;
}


/* PREFOOTER */

.delPage__prefooter {
    display: block;
    width: 1800px;
    height: 280px;
    background: var(--background-color);
    padding: 112px 200px 0px 202px;
    border-radius: 36px;
    margin: 160px auto 0 auto;
    color: #fff;
}

.delPage__prefooterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delPage__prefooterContent h1 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 800;
}

.delPage__prefooterContent-social {
    display: flex;
    gap:9px;
}

.delPage__prefooterContent-social img {
    width: 66px;
    height: 66px;
}