.calcPage {
    display: block;
    background-color: #fff;
    width: 100%;
    color: var(--color-black);
    font-family: 'Gilroy';
}

.calcPage__postheader {
    display: block;
    margin: 0 auto;
    width: 1800px;
    height: 210px;
    background: var(--background-color);
    border-radius: 36px;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    padding: 45px 0px 62px 182px;
}

.calcPage__postheader h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
}

.calcPage__postheader a {
    color: #fff;
    font-size: 13px;
    line-height: 14px;
    font-weight: 300;
}

.calcPage__postheaderContent {
    display: flex;
    gap: 29px;
    flex-direction: column;
}

.pricewrapperBox {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    align-items:center;
}

.pricewrapperBox-item {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.pricewrapperBox-item img {
    width: 300px;
    height: 300px;
}

.pricewrapperBox-item h1 {
    margin-top: 39px;
    font-size: 24px;
    line-height: 36px;
}

.pricewrapperBox-item p {
    font-weight: 300;
    margin-top: 7px;
    font-size: 18px;
    line-height: 36px;
}

.pricewrapperBox-item a {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    width: 180px;
    height: 56px;
    background: #41B7E9;
    border-radius: 8px;
    margin-top: 22px;
    text-align:center;
    padding-top: 19.47px;
    color: #fff;
    transition: .3s transform, .25s box-shadow;
}

.pricewrapperBox-item a:hover,
.pricewrapperBox-item a:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #8dd3f1;
    transform: translateY(-0.25em);
}

/*CALCULATOR*/

.calc__choose {
    display: block;
    width: 100%;
    margin-top: 160px;
    color: #222222;
}

.calc__choose-headtext {
    display: flex;
    padding-right: 560px;
    flex-direction: column;
}

.calc__choose-title {
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
    padding-right: 200px;
}

.calc__choose-subTitle {
    margin-top: 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    /* padding-right:200px; */
}

.calc__chooseCount {
    margin-top: 50px;
    width: 100%;
    height: 270px;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
    padding: 46px 34px 51px 35px;
}

.calc__chooseCount-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.calc__chooseCount-content__chooseMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.calc__chooseCount-content__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 247px;
    height: 75px;
    color: #222222;
    border-bottom: 1px solid #222222;
}

.calc__chooseCount-content__item h1 {
    font-size: 14px;
    line-height: 18px;
}

.calc__chooseCountry {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

#placeholder__inst {
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
    background-image: url(/assets/images/img/deliveryPage/arrows/arrowDown.svg);
    background-position: right;
    background-repeat: no-repeat;
}

#placeholder__inst.activeCountry {
    background-image: url(/assets/images/img/deliveryPage/arrows/iconmonstr-angel-up-thin.svg);
    background-size: 11px;
    transition: .2s background-image;
}

.placeholder__item,
.placeholder__itemOpt {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;    
    user-select: none;
    cursor: pointer;
}

.inputInfoDel,
.inputInfoDel__town,
.inputInfoDel__index,
.inputInfoDel__weight {
    font-weight: 300;
    font-family: 'Gilroy';
    color: #222222;
    font-size: 16px;
    line-height: 16px;
}


.inputInfoDel::placeholder,
.inputInfoDel__town::placeholder,
.inputInfoDel__index::placeholder,
.inputInfoDel__weight::placeholder {
    font-weight: 300;
    font-family: 'Gilroy';
    color: #222222;
    font-size: 16px;
    line-height: 16px;
}



#chooseMenu__calc {
    width: 246px;
    height: 125px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #F2F6FC;
    z-index: 99;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    justify-content: space-around;
    visibility: hidden;
    transition: .2s visability;
}

#chooseMenu__calc.activeMenu {
    visibility: visible;
    transition: .2s visabilit, .3s opacity linear;
}

.chooseMenu__calc-item,
.chooseMenu__calc-itemAdd {
    display: block;
    height: 25px;
    width: 246px;
    font-size: 14px;
    line-height: 18px;
    padding: 3px 0px 0px 41px;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
}


.chooseMenu__calc-item:hover,
.chooseMenu__calc-itemAdd:hover {
    background-color: #f2f2f2;
}

.chooseMenu__calc-item:last-child
.chooseMenu__calc-itemAdd:last-child {
    border-bottom: 0;
}

.placeholder__instwolist {
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
    background-image: none;
}

.inputInfoDel,
.inputInfoDel__town,
.inputInfoDel__index,
.inputInfoDel__weight {
    font-weight: 300;
    font-family: 'Gilroy';
    color: #222222;
    font-size: 16px;
    line-height: 16px;
}


.inputInfoDel::placeholder,
.inputInfoDel__town::placeholder,
.inputInfoDel__index::placeholder,
.inputInfoDel__weight::placeholder {
    font-weight: 300;
    font-family: 'Gilroy';
    color: #222222;
    font-size: 16px;
    line-height: 16px;
}


#chooseMenu__calcPlus {
    width: 246px;
    height: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #F2F6FC;
    z-index: 99;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    justify-content: space-around;
    visibility: hidden;
    transition: .2s visability;
}

#chooseMenu__calcPlus.activeMenuServ {
    visibility: visible;
    transition: .2s visabilit, .3s opacity linear;
}

#placeholder__instNew {
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
    background-image: url(/assets/images/img/deliveryPage/arrows/arrowDown.svg);
    background-position: right;
    background-repeat: no-repeat;
}

#placeholder__instNew.activeServ {
    background-image: url(/assets/images/img/deliveryPage/arrows/iconmonstr-angel-up-thin.svg);
    background-size: 11px;
    transition: .2s background-image;
}

.calculator__button {
    width: 240px;
    height: 66px;
    text-align: center;
    color: #fff;
    background: var(--color-buttGreenColor);
    box-shadow: var(--shadow-buttShadow);
    border-radius: 36px;
    padding: 24px 0px 0 0;
    transition: .3s transform, .25s box-shadow;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    cursor: pointer;
}

.calculator__button:hover,
.calculator__button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #32CD32;
    transform: translateY(-0.25em);
}

/*DELIVERY OPTIONS*/

.calcPage__delOpitons {
    display: block;
    margin-top: 80px;
    width: 100%;
    color: var(--color-black);
}

.calcPage__delOpitons-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 56px;
}

.calcPage__delOpitons__details {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.calcPage__delOpitons__details-item {
    display: block;
    height: 104px;
    width: 100%;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
}

/* DROPDOWN */

.delOptions__dropDown {
    width: 1400px;
    position: relative;
    z-index: 99;
    height: 320px;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: none;
}

.delOptions__dropDown {
    text-align: center;
    padding-top: 152px;
}


.calcPage__delOpitons__details-item.activeitem {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


/*  */

.calcPage__delOpitons__details-item__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 22px 11px 29px;
}

.calcPage__delOptions__contentName {
    display: flex;
    gap: 27px;
    width: 723px;
    border-right: 1px solid #c0c9d7;
    height: 82px;
    align-items: center;
}

.calcPage__delOptions__contentName h1 {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.calcPage__delOptions__contentPrice {
    display: flex;
}

.calcPage__delOptions__contentPrice-item {
    height: 82px;
    padding: 15px 50px 0px 0px;
    border-right: 1px solid #c0c9d7;
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.calcPage__delOptions__contentPrice-item span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    padding-left: 42px;
}

.calcPage__delOptions__contentPrice-item h1 {
    font-size: 20px;
    line-height: 16px;
    color: #222222;
    padding-left: 42px;
}

.delOptions__arrowButton {
    cursor: pointer;
    margin: 33px 0px 0px 16px;
}

/*SEVICES SKLAD*/

.warehouse__service {
    display: block;
    margin-top: 170px;
    color: #222222;
}

.warehouse__service-title {
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
}

.warehouse__service-container {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
}

.warehouse__serviceTop {
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

.warehouse__serviceTop-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 685px;
    height: 80px;
    padding: 8px 41px 8px 38px;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
}

.warehouse__serviceTop-item h1 {
    font-size: 18px;
    line-height: 16px;
}

.serviceRbox {
    display: block;
    padding: 24px 0px 0px 30px;
    width: 124px;
    height: 64px;
    border-left: 1px solid #c0c9d7;
}

.serviceRbox span {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-black);
}

.warehouse__serviceBottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.warehouse__serviceBottom-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 104px;
    padding: 11px 32px 11px 38px;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
}

.warehouse__serviceBottom-itemName {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.warehouse__serviceBottom-itemName h1 {
    font-size: 18px;
    line-height: 16px;
    color: #222222;
}

.warehouse__serviceBottom-itemName p {
    color: #222222;
    font-size: 14px;
    line-height: 24px;
}

.serviceR__bottombox {
    border-left: 1px solid #c0c9d7;
    height: 82px;
    width: 305px;
    padding: 33px 0px 0px 30px;
    align-items: center;
}

.serviceR__bottombox span {
    color: var(--color-black);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}


.warehouse__serviceFooter {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 299px;
}

.warehouse__serviceFooterContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.warehouse__serviceFooter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 132px;
    padding: 11px 32px 11px 38px;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
}

.warehouse__serviceFooter-item:nth-child(2) {
    height: 104px;
}

.warehouse__serviceFooter-itemName {
    display: flex;
    width: 1005px;
    height: 104px;
    border-right: 1px solid #c0c9d7;
    flex-direction: column;
    gap: 7px;
    padding: 18px 227px 0px 0px;
    padding-right: 227px;
}

.warehouse__serviceFooter-item:nth-child(2) .warehouse__serviceFooter-itemName {
    height: 82px;
    padding-top: 21px;
}

.serviceR__Footer-box {
    height: 104px;
    width: 327px;
    padding: 14px 0px 16px 30px;
    align-items: center;
}

.warehouse__serviceFooter-item:nth-child(2) .serviceR__Footer-box {
    padding: 34px 0px 0px 30px;
}

.serviceR__Footer-box span {
    color: var(--color-black);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.warehouse__serviceFooter-itemName h1 {
    font-size: 18px;
    line-height: 16px;
    color: #222222;
}

.warehouse__serviceFooter-itemName p {
    color: #222222;
    font-size: 14px;
    line-height: 24px;
}

/* BANNER ORDER */

.order__banner {
    display: block;
    margin: 160px auto;
    width: 1800px;
    height: 530px;
    background: var(--background-color);
    border-radius: 36px;
    padding: 61px 0px 64px 200px;
    color: #fff;
}

.order__banner-content {
    display: flex;
    align-items: center;
    gap: 75px;
}

.order__banner-connect {
    display: flex;
    flex-direction: column;
}

.order__banner-connect h1 {
    font-size: 30px;
    line-height: 40px;
    padding-right: 278px;
}

.order__bannerInput {
    width: 513px;
    height: 72px;
    padding: 28px 0px 28px 42px;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
    background-image: url(/assets/images/img/calcPage/Link.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 26px;
}

.order__bannerInput::placeholder {
    color: #fff;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 16px;
    line-height: 16;
}

.order__banner-connectSend {
    display: flex;
    margin-top: 34px;
    justify-content: space-between;
    align-items: center;
}

.order__banner-connectSend a {
    width: 240px;
    height: 66px;
    text-align: center;
    color: #fff;
    background: var(--color-buttGreenColor);
    box-shadow: var(--shadow-buttShadow);
    border-radius: 36px;
    padding: 24px 0px 0 0;
    transition: .3s transform, .25s box-shadow;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
}

.order__banner-connectSend a:hover,
.order__banner-connectSend a:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #32CD32;
    transform: translateY(-0.25em);
}

.order__banner-connectSend p {
    font-size: 14px;
    line-height: 24px;
    display: block;
    padding: 0px 50px 0px 70px;
}

/* Insurance PART*/

.insuranceBlock {
    display: flex;
    gap: 150px;
    flex-direction: column;
}

.insuranceBlockbox {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
}

.insuranceBlockbox-item {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 1400px;
    height: 84px;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
    padding: 9px 0px 9px 38px;
}

.insuranceBlockbox-itemName {
    display: block;
    width: 677px;
    height: 66px;
    border-right: 1px solid #c0c9d7;
}

.insuranceBlockbox-itemName h1 {
    padding-top: 25px;
    font-size: 18px;
    line-height: 16px;
    color: #222222;
}

.insuranceBlockbox-item span {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

/* EXTRA PACKING */

.insuranceBlock__extrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 150px;
}

.insuranceBlock__extaPack {
    display: flex;
    align-items: center;
    gap: 20px 30px;
    flex-wrap: wrap;
}

.insuranceBlock__extaPack-item {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 685px;
    height: 104px;
    box-shadow: 0px 0px 70px rgba(138, 138, 138, 0.1);
    border-radius: 16px;
    padding: 11px 0px 11px 38px;
}

.insuranceBlock__extaPack-itemName {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    gap: 7px;
    width: 482px;
    height: 82px;
    border-right: 1px solid #c0c9d7;
    color: #222222;
}

.insuranceBlock__extaPack-itemName h1 {
    font-size: 18px;
    line-height: 16px;
}

.insuranceBlock__extaPack-itemName p {
    font-size: 14px;
    line-height: 24px;
}

.insuranceBlock__extaPack-item span {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

/* PREFOOTER */

.delPage__prefooter {
    display: block;
    width: 1800px;
    height: 280px;
    background: var(--background-color);
    padding: 112px 200px 0px 202px;
    border-radius: 36px;
    margin: 160px auto 0 auto;
    color: #fff;
}

.delPage__prefooterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delPage__prefooterContent h1 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 800;
}

.delPage__prefooterContent-social {
    display: flex;
    gap:9px;
}

.delPage__prefooterContent-social img {
    width: 66px;
    height: 66px;
}