
.subheader {
    display: flex;
    color: #fff;
    width: 100%;
    height: 110px;
    border-radius: 36px;
    background: var(--background-color);
    padding: 31px 100px 31px 104px;
    margin-bottom: 80px;
}

.subheader-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subheader__left {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.subleft-time {
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
}

.realTime {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: 600;
}

.realTime a,
.subleft-bonus a,
.subleft-exchange a{
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #fff;
}

.realClock {
    width: 75px;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
}

.subleft-schedule {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.subleft-exchange {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}

.subleft-bonus {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}


/* right side of subheader */

.subheader__right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subright-balance {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-right: 21px;
}

.subright-balance a{
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    color: #fff;
}

.addTrans__butt {
    margin-right: 30px;
    font-size: 13px;
    line-height: 18px;
    width: 200px;
    color: #fff;
    height: 48px;
    text-align: center;
    padding-top: 15px;
    background: var(--color-buttGreenColor);
    box-shadow: var(--shadow-buttShadow);
    border-radius: 36px;
    cursor: pointer;
    font-weight: 700;
    transition: .3s transform, .25s box-shadow;
}

.addTrans__butt:hover,
.addTrans__butt:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #32CD32;
    transform: translateY(-0.25em);
}

.paypal__butt {
    margin: 0 10px 0 0;
    width: 128px;
    color: #fff;
    height: 48px;
    text-align: center;
    padding-top: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(122, 122, 122, 0.2);
    border-radius: 36px;
    cursor: pointer;
    transition: .3s transform, .25s box-shadow;
}

.paypal__butt:hover,
.paypal__butt:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #ccc;
    transform: translateY(-0.25em);
}

.visa__butt {
    width: 100px;
    color: #fff;
    height: 48px;
    text-align: center;
    padding-top: 11px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(122, 122, 122, 0.2);
    border-radius: 36px;
    cursor: pointer;
    transition: .3s transform, .25s box-shadow;
}

.visa__butt:hover,
.visa__butt:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #ccc;
    transform: translateY(-0.25em);
}


/* MAIN PAGE */

.main-container h2 {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;

    margin-bottom: 19px;

    color: var(--color-black);
}

.main-container h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;

    color: var(--color-black);
}

.main-container p {
    margin: 5px 0px 23px;
}

.main-container hr {
    border: 0;
    border-top: 1px solid #C0C9D7;

    margin-bottom: 40px;
}


.main-container input[type=text] {
    width: 523px;
    height: 100%;

    padding: 22px 298px 22px 30px;
}

.main-container input[type=text]::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #222;
    opacity: 0.6;
}

.recipientAdressBlock {
    display: flex;
    gap: 20px;

    margin-bottom: 64px;
}

.recipientAdressBlock .link,
#sendBtn {
    width: 250px;
    height: 60px;

    position: relative;
    top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
    box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
    border-radius: 36px;

    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #fff;

    cursor: pointer;

    transition: .3s transform, .25s box-shadow;
}


.recipientAdressBlock .link:hover,
#sendBtn:hover {
    box-shadow: 0 0.5em 0.5em -0.4em #ccc;
    transform: translateY(-0.25em);
}

.orderBlock {
    display: flex;
    gap: 20px;

    margin-bottom: 64px;
}

.inputsBlock {
    display: flex;
    gap: 18px;
}

.inputsBlock label {
    margin-right: 22px;

    display: flex;
    align-items: center;

    position: relative;
    top: 5px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: var(--color-black);
}

.inputsBlock input {
    width: 32px;
    height: 32px;

    cursor: pointer;
}

#sendBtn {
    margin-top: 51px;
}

.footeracc {
    margin-top: 1250px;
}




.startBlock {
    width: 566px;
    height: 60px;

    padding: 22px 0px 22px 30px;

    cursor: pointer;

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #222222;

    border: 1px solid #C0C9D7;

    margin-top: 16px;

    border-radius: 6px;
}


.startBlock a {
    position: absolute;
    left: 620px;
}

.specialArrow {
    position: absolute;
    left: 1200px !important;
}

.inputBlock {
    width: 566px;
    height: 0px;

    position: absolute;
    overflow: hidden;

    z-index: 98;

    transition: 0.5s;
}

.inputBlock li {
    background-color: #fff;

    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    
    border: 1px solid #C0C9D7;
    border-top: transparent !important;

    padding: 5px 0px 0px 30px;

    cursor: pointer;

    color: #9e9e9e;
}

.inputBlock li:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.opened {
    height: 155px !important;
}

.border {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.startBlock span {
    opacity: 0.6;
}




.modal img {
    width: 80px;
    height: 80px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 25px 0px;
}

.modal h3 {
    margin-bottom: 30px;
    font-size: 25px;
    color: var(--color-black);
}

.modal-backdrop { opacity: 0.2 !important; }

.close {
    font-size: 40px !important;
    position: relative;
    top: -10px;
}

.modal-content {
    border: transparent !important;
}

a:hover {
    text-decoration: none;
}

.specialBlock {
    position: relative;
    top: 7.5px;
}

/* ------------------------ADAPTATION------------------------*/

@media screen and (max-width: 1440px) {

    /* subheader */
    .realTime{gap: 3px;}
    .subheader__left{gap: 20px;}
    .addTrans__butt {margin-right: 20px;}
    .subleft-schedule {display: none; visibility: hidden;}
    .subleft-exchange, .subleft-bonus {gap: 8px;}
    .realTime a,.subleft-bonus a, .subleft-exchange a{font-size: 13px; line-height: 13px;}
    .subright-balance a, .realClock {font-size: 13px; line-height: 14px;}
    .subheader__left img {width: 28px;height: 28px;} 

    /*  */
}